---
layout: newhome
<!-- author_profile: true -->
author_profile: false
permalink: /KE/
sidebar: false <!-- 원래는 없던거 -->
---



<head>
	<style>
		@import url('https://webfontworld.github.io/yangheeryu/GowunBatang.css');
		@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
		@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
	</style>
</head>


<header>
	<div class="container">
		<div class="column">
			<div>
				<p class="editable">Hi, my name is </p>
				<h1 class="editable">Yeoun Su Kim</h1>
				<p class="editable">
					✈️ <b>E-COMMERCE실 (홈페이지운영 / IBE) </b> <br><br>
					💻 <b>SW 전공 </b> <br><br>
					❌ <b>제조업 개발자 1년 근무 (아침체조) </b> <br><br>
					<br><br><br>
				</p>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/assets/images/newBanner.png" alt="banner image">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">😊 TMI </h2>

	<div id="terminal">
		<div id="bar"></div>

		<div id="screen">
			<!-- start of the screen -->
			<p class="command">cat README.md</p>
			<p class="response">👋🏼 학부때는 서버개발자를 희망하여 관련 공부를 쭉하였으나 <br>
								강력한 자본의 힘에 굴복하여 회사에서 시키는 모든일을 하게 됨. <br>
								백엔드, 프론트엔드, 클라우드, AI 등 다양한 분야의 업무를 얕고 넓게 해왔음. <br>
								어쩌다보니 대한항공이 원하는 인재상이 됨.<br>
			</p>

			<p class="command">cat MORE.md</p>
			<p class="response">
				정보 : 김연수 / 1997.08.30 / 김포 풍무동 <br>
				MBTI  : ISTP <br>
				취미     : 풋살, 공연, 뮤지컬 <br>
				🅾️ : 누워있기 <br>
			</p>

			<p class="command">ls programming language</p>
			<p class="response array">
				<span class="array-element">JAVA</span>,
				<span class="array-element">Spring</span>,
				<span class="array-element">Spring Boot</span>,
				<span class="array-element">JavaScript</span>,
				<span class="array-element">AWS</span>,
				<span class="array-element">Oracle</span>,
				<span class="array-element">etc</span>
			</p>

			<p class="command">
				<span class="cursor">&nbsp</span>
			</p>
		</div>
	</div>


	<div class="cli">
		<img src="/assets/images/terminal.jpg" alt="terminal skills" class="center">
	</div>
</div>


<div class="container">
	<h2 class="editable" style="text-align: center;">📨 Connect with me! </h2>
		<ul class="thirds">

			<li class = "narrow">
				<div class="image">{% include icon.html icon="look" %}</div>
				<h3 class="editable">Best Post</h3>
				<p class="editable"> <a href="https://idkim97.github.io/2024-05-16-JAVA-heap-memory-optimization/">Heap 메모리 최적화와 <br> 오류 수정 과정</a> </p>
			</li>

			<li class = "narrow">
				<div class="image"> <a href="https://github.com/idkim97">{% include icon.html icon="github" %}</a> </div>
				<h3 class="editable">Github</h3>
				<p class="editable"> 예초기 돌리고 잔디 다뽑힌 <br> <a href="https://idkim97.github.io/categories/">깃허브</a> <br> </p>
			</li>

			<li class = "narrow">
				<div class="image">{% include icon.html icon="instagram" %}</a></div>
				<h3 class="editable"><b>Instagram</b></h3>
				<p class="editable"> <a href="https://www.instagram.com/k_yeon_suu/" target="_blank"> k_yeon_suu </a> <Br> </p>
			</li>
	</ul>
</div>


<div class="container">
	<h2 class="editable" style="text-align:center;">💡 나의 목표 </h2>
	<blockquote>
		<p class="quote editable"> 저는 항상 발전하는 사람으로서, 후에 누군가를 멘토링 해 줄 수 있는 역량을 가진 사람이 되고싶습니다. <br> 시작한 일에 대해서는 결과를 도출해내고, 지난 일에 대해서는 아쉬웠던 점을 드릴 다운하여 완연한 내 것으로 만든다는 마인드로 임하고 있습니다. </p>
		<div class="attribute">
			<p class="meta">
				<span class="author editable"><strong>💡 나의 목표</strong></span>
			</p>
		</div>
	</blockquote>
</div>
