---
layout: newhome
<!-- author_profile: true -->
author_profile: false
permalink: /KE/
sidebar: false <!-- 원래는 없던거 -->
 
---



<head>
	
	<style>
		@import url('https://webfontworld.github.io/yangheeryu/GowunBatang.css');
		@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
		@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
	</style>
</head>





<header>
	<div class="container">
		<div class="column">
			<div>
				<p class="editable">Hi, my name is </p>
				<h1 class="editable">Yeoun Su Kim</h1>
				<p class="editable">
					안녕하세요. 저는 소프트웨어를 전공한 27살 김연수입니다!
					<br><br>
					6개월 동안 좋은 관계 맺어 성공적인 프로젝트와 취업해봅시다..!
					<br>
				</p>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/assets/images/banner.png" alt="banner image">
		</div>
	</div>
</header>




<div class="container">
	<h2 class="editable" style="text-align: center;">😊 약간의 TMI </h2>

	<div id="terminal">
		<div id="bar"></div>

	<div id="screen">
		<!-- start of the screen -->
		<p class="command">cat README.md</p>
		<p class="response">👋🏼 Backend 개발자를 희망했지만, Front , Back 구분없이 할줄 아는것이 경쟁력이 되는것 같아 현재는 풀스택 개발자를 희망하고 열심히 공부 하고 있습니다. <br>
		<a href = "https://kimyeounsu.notion.site/BuyBooks-2c1d987402504d7c980d50b8cdb1aa77" target ="_blank" >Java/Spring 기반 쇼핑몰 프로젝트 </a>, 교내사용자를 위한 랜덤채팅 어플리케이션 등의 프로젝트 경험이 있습니다. 무선통신 관련 연구실에서 학부연구생 맛만 보고 도망쳤습니다. <br>
	</p>

		<p class="command">cat MORE.md</p>
		<p class="response">
			정보 : 김연수 / 27세 / 김포 / LOL(골드)&롤체 / 힙합 <br>
			MBTI : ISTP ( MBTI 안믿었는데 ISTP 특징에 'MBTI 안믿음' 이 있어서 그뒤로 믿게됨 ) <br>
		 	취미 : 풋살 ( 매주 금요일마다 함, 현재 전적 1승 5패, 팀 해체위기 ) <br>
			특이사항 : 머리 기르는 중 ( 욕 많이 먹음 )


		 </p>

		<p class="command">ls programming language</p>
		<p class="response array">
			<span class="array-element">JAVA</span>,
			<span class="array-element">Spring</span>,
			<span class="array-element">HTML/CSS</span>,
			<span class="array-element">JavaScript</span>,
			<span class="array-element">JQuery</span>,
			<span class="array-element">MySQL</span>,
			<span class="array-element">Git</span>
		</p>

		<p class="command">
			<span class="cursor">&nbsp</span>
		</p>
	</div>
	</div>


	<!-- <div class="cli">
		<img src="/assets/images/terminal.jpg" alt="terminal skills" class="center">
	</div> -->
</div>


<div class="container">
	<h2 class="editable" style="text-align: center;">📨 Connect with me! </h2>
		<ul class="thirds">

			<li class = "narrow">
				<div class="image">{% include icon.html icon="look" %}</div>
				<h3 class="editable">Look Around</h3>
				<p class="editable"> 공부 기록이 담겨있는 <a href="http://localhost:4000/categories/">개발 블로그</a> 입니다! 꼭 기억할 필요가 있는 공부 내용들을 기록하고 필요할 때 다시 찾아보며 학습하고 있습니다. </p>
			</li>

			<li class = "narrow">
				<div class="image"> <a href="https://github.com/idkim97">{% include icon.html icon="github" %}</a> </div>
				<h3 class="editable">Github</h3>
				<p class="editable"> 각종 프로젝트와 공부한 흔적이 담겨있는 <a href="https://idkim97.github.io/categories/">깃허브</a>입니다. <br> 1일 커밋을 목표로 관리하는중...? </p>
			</li>

			<li class = "narrow">
				<div class="image">{% include icon.html icon="instagram" %}</a></div>
				<h3 class="editable"><b>Instagram</b></h3>
				<p class="editable"> <a href="https://www.instagram.com/k_yeon_suu/" target="_blank"> k_yeon_suu </a> <Br> 인스타그램입니다! </p>
			</li>
	</ul>
</div>


<div class="container">
	<h2 class="editable" style="text-align:center;">✍🏼 Recent Posts </h2>
		<div class="posts">
			{% for post in paginator.posts limit:4 %}
				{% include recent-posts.html type="grid" %}
			{% endfor %}
		</div>
</div>



<div class="container">
	<blockquote>
		<p class="quote editable"> 저는 항상 발전하는 사람으로서, 후에 누군가를 멘토링 해 줄 수 있는 역량을 가진 사람이 되고싶습니다. <br> 시작한 일에 대해서는 결과를 도출해내고, 지난 일에 대해서는 아쉬웠던 점을 드릴 다운하여 완연한 내 것으로 만든다는 마인드로 임하고 있습니다. </p>
		<div class="attribute">
			<p class="meta">
				<span class="author editable"><strong> 💡 나의 목표</strong></span>
			</p>
		</div>
	</blockquote>
</div>
