---
layout: newhome
<!-- author_profile: true -->
author_profile: false
sidebar: false <!-- 원래는 없던거 -->
 
---

<head>
	
	<style>
		@import url('https://webfontworld.github.io/yangheeryu/GowunBatang.css');
		@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
		@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
	</style>
</head>


<header>
	<div class="container">
		<div class="column">
			<div>
				<p class="editable">Hi, my name is </p>
				<h1 class="editable">Yeoun Su Kim</h1>
				<p class="editable">
					"사용자에게 가치있는 서비스를 제공하자"라는 신념을 가지고 개발공부 하고 있는 김연수입니다! 
					
					<b>Front-end</b> 부터 <b>Back-end</b>, 그리고 클라우드까지 아울러 공부하고 있습니다.
					
					공부하면서 어렵거나 기억할 만한 내용을 포스팅하고 있으니 오류사항이나 궁금하신게 있으시면 언제든지 메일주세요! 
				</p>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/assets/images/banner.png" alt="banner image">
		</div>
	</div>
</header>


<div class="container">
	<h2 class="editable" style="text-align: center;">😊 A little bit about me</h2>

	<div id="terminal">
		<div id="bar"></div>

	<div id="screen">
		<!-- start of the screen -->
		<p class="command">cat README.md</p>
		<p class="response">👋🏼 웹 풀스택 개발이 하고 싶어 Front,Back,Cloud 등 다양한 개발 공부를 하고 있습니다.
			구독형 미디어 서버 제공 플랫폼 프로젝트, 점심식사 인원모집 웹사이트, Java/Spring 기반 쇼핑몰 프로젝트 등의 프로젝트 경험이 있습니다.
			현재는 ERP 및 풀스택 개발자로 근무중입니다.
		</p>


		<p class="command">cat MORE.md</p>
		<p class="response">👩🏻‍💻 저는 항상 "왜?" 라는 키워드에 집중하여 공부를 합니다. 어떤 기술을 왜 사용하는지를 알기 위해선 구조와 원리를 파악해야하고
			이를 통해 상황마다 적절한 기술을 적용할 수 있기 때문입니다. </p>

		<p class="command">ls programming skills</p>
		<p class="response array">
			<span class="array-element">Java</span>,
			<span class="array-element">Spring</span>,
			<span class="array-element">HTML/CSS </span>,
			<span class="array-element">JavaScript/JQuery </span>,
			<span class="array-element">MySQL</span>,
			<span class="array-element">Git</span>
		</p>

		<p class="command">
			<span class="cursor">&nbsp</span>
		</p>
	</div>
	</div>


	<!-- <div class="cli">
		<img src="/assets/images/terminal.jpg" alt="terminal skills" class="center">
	</div> -->
</div>


<div class="container">
	<h2 class="editable" style="text-align: center;">📨 Connect with me! </h2>
		<ul class="thirds">

			<li class = "narrow">
				<div class="image">{% include icon.html icon="look" %}</div>
				<h3 class="editable">Look Around</h3>
				<p class="editable"> 공부 기록이 담겨있는 <a href="https://idkim97.github.io/">개발 블로그</a> 입니다! 꼭 기억할 필요가 있는 공부 내용들을 기록하고 필요할 때 다시 찾아보며 학습하고 있습니다. </p>
			</li>

			<li class = "narrow">
				<div class="image"> <a href="https://github.com/idkim97">{% include icon.html icon="github" %}</a> </div>
				<h3 class="editable">Github</h3>
				<p class="editable"> 각종 프로젝트와 공부한 흔적이 담겨있는 <a href="https://github.com/idkim97">깃허브</a>입니다. <br> 1일 커밋을 목표로 운영하고 있습니다. </p>
			</li>

			<li class = "narrow">
				<div class="image"><a href="mailto:idkim9797@naver.com">{% include icon.html icon="email" %}</a></div>
				<h3 class="editable">Email</h3>
				<p class="editable">문의할 내용이 있으시면 <a href="mailto:idkim9797@naver.com"> 이쪽으로 메일 주세요! </p>
			</li>
	</ul>
</div>


<div class="container">
	<h2 class="editable" style="text-align:center;">✍🏼 Recent Posts </h2>
		<div class="posts">
			{% for post in paginator.posts limit:4 %}
				{% include recent-posts.html type="grid" %}
			{% endfor %}
		</div>
</div>



<div class="container">
	<blockquote>
		<p class="quote editable"> 저는 항상 발전하는 사람으로서, 후에 누군가를 멘토링 해 줄 수 있는 역량을 가진 사람이 되고싶습니다. <br> 시작한 일에 대해서는 결과를 도출해내고, 지난 일에 대해서는 아쉬웠던 점을 드릴 다운하여 완연한 내 것으로 만든다는 마인드로 임하고 있습니다. </p>
		<div class="attribute">
			<p class="meta">
				<span class="author editable"><strong> 💡 나의 목표</strong></span>
			</p>
		</div>
	</blockquote>
</div>
