<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<!--
<br>
<strong><i class="fas fa-fw fa-folder-open" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].categories_label | default: "Categories:" }} </strong>
  {% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

// i는 카테고리 포스트 갯수, [0]이 카테고리 제목, [1]이 그 카테고리에 해당하는 포스트들 
<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="/categories/#{{ category[0] | slugify }}">
            <font size="1">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </font>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

-->